DATABASE_URL=postgresql://admin:admin@localhost:5432/fleet_db
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
OPENAI_API_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_TEMPLATE_PASSWORD_RESET=
DAMAGE_ALERT_EMAIL=
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000
REDIS_HOST=localhost
REDIS_PORT=6379